//
// Atril (MATE pdf viewer)
//
.atril-window .primary-toolbar toolbar {
  background: none;
}

//
// Mate OSD Window
//
MsdOsdWindow.background.osd {
  border: 1px solid #e60053;

  .progressbar {
    background-color: $selected_bg_color;
    border: none;
    border-color: #e60053;
    border-radius: 5px;
  }
  .trough {
    background-color: darken($osd_bg_color, 5%);
    border: none;
    border-radius: 5px;
  }
}
